<section class="dialog animal-register">
  <header>
    <h1>Cadastrar Animal</h1>
  </header>

  <form [formGroup]="formCadastroAnimal">
    <div class="group size-100">
      <div class="fm-inline">
        <mat-form-field class="fm-group invisible">
          <input matInput placeholder="Codigo" formControlName="clienteId">
          <input matInput placeholder="Codigo" formControlName="id">
        </mat-form-field>
      </div>
      <div class="fm-inline">
        <mat-form-field class="fm-group size-100">
          <input matInput placeholder="Nome" type="text" formControlName="nome" maxlength="250">
        </mat-form-field>
      </div>

      <!-- /// -->

      <div class="fm-inline">
        <mat-form-field class="fm-group size-40">
          <mat-select
              placeholder="Idade"
              formControlName="idade">
              <mat-option [value]="0">Selecione</mat-option>
              <mat-option [value]="1">01</mat-option>
              <mat-option [value]="2">02</mat-option>
              <mat-option [value]="3">03</mat-option>
              <mat-option [value]="4">04</mat-option>
              <mat-option [value]="5">05</mat-option>
              <mat-option [value]="6">06</mat-option>
              <mat-option [value]="7">07</mat-option>
              <mat-option [value]="8">08</mat-option>
              <mat-option [value]="9">09</mat-option>
              <mat-option [value]="10">10</mat-option>
              <mat-option [value]="11">11</mat-option>
              <mat-option [value]="12">12</mat-option>
              <mat-option [value]="13">13</mat-option>
              <mat-option [value]="14">14</mat-option>
              <mat-option [value]="15">15</mat-option>
              <mat-option [value]="16">16</mat-option>
              <mat-option [value]="17">17</mat-option>
              <mat-option [value]="18">18</mat-option>
              <mat-option [value]="19">19</mat-option>
              <mat-option [value]="20">20</mat-option>
          </mat-select>
        </mat-form-field>

        <app-input-field-select ngClass="fm-group size-80" label="Tipo Animal" 
        [lista]="listTipoAnimal" formControlName="tipoAnimalId"
         itemValue="id" itemDisplay="nome">
        </app-input-field-select>

      </div>
       
    </div>

    <div class="buttons">
      <button mat-button (click)="onSubmit()">OK</button>
      <button mat-button (click)="closeDialog()">Cancelar</button>
    </div>

    <!-- ============================================================================================================= -->

    <ul class="dialog-actions">
      <li>
        <button (click)="closeDialog()"><i class="fa fa-times" aria-hidden="true"></i></button>
      </li>
    </ul>
  </form>

</section>
